body {
    background-color: bisque;
}
article {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

li:hover {
    color: rgb(94, 161, 40); 
}

span {
    margin: 0;
    font-size: 12px;
}